* {
	box-sizing: border-box;
}

body {
	background: linear-gradient(45deg, #90daf3, #e9e31e);
	color: #155315;
	font-family: montserrat, sans-serif;
	height: 100dvh;
	width: 100vw;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

/* prettier-ignore */
body, div, ul, li, a, h1, h2, h3, h4, p, header, nav {
  margin: 0;
  padding: 0;

}

.header {
	width: 100%;
	background-color: #98fb98bb;
	z-index: 10;
	box-shadow: 0 0 25px 0 #155315;
	padding: 10px 0;
}

.header__nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 0 20px;
}

.header__nav-ul {
	display: flex;
	list-style: none;
}

.header__nav-item {
	padding: 5px 15px;
	border-radius: 5px;
}

.header__nav-item a {
	text-decoration: none;
	color: #155315;
	font-weight: 900;
}

.header__nav-item:hover {
	background-color: #155315;
	box-shadow: 0 0 5px 0 #155315;
}

.header__nav-item a:hover {
	color: #98fb98;
}

.nav__logo {
	width: 100px;
	border: 2px solid #1a831a;
	border-radius: 10px;
	border-style: double;
	margin: 5px 0;
}

.portada {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 118px 20px 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	column-gap: 20px;
}

.portada img {
	mix-blend-mode: darken;
	width: 100%;
	max-width: 500px;
	border-radius: 15px;
}

.portada__text-texto {
	font-size: 5vw;
	text-align: center;
	text-wrap: pretty;
	width: 100%;
}

.portada__text-texto:first-child {
	background-color: #1553152a;
	border-radius: 15px;
	padding: 10px;
}

@media screen and (max-width: 600px) {
	body {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.header__nav-container {
		flex-direction: column;
		align-items: center;
	}

	.header__nav-ul {
		flex-direction: column;
		align-items: center;
	}

	.header__nav-item {
		padding: 10px;
	}

	.portada {
		grid-template-columns: 1fr;
		padding: 0 100px;
		width: 100vw;
		row-gap: 30px;
	}

	.portada__text-texto {
		font-size: 5vw;
	}

	.portada img {
		mix-blend-mode: darken;
		border-radius: 15px;
		width: 100%;
	}
}
