* {
	box-sizing: border-box;
}

body {
	background-color: #add8e6; /* Azul Claro */
	color: #000000; /* Negro para el texto */
	font-family: montserrat;
	height: 200dvh;
	width: 100dvw;
	overflow-x: hidden;
}

/* prettier-ignore */
body, div, ul, li, a, h1, h2, h3, h4, p, header, nav {
  margin: 0;
  padding: 0;

}

.header {
	background-color: #98fb985d; /* Verde Menta */
	z-index: 10;
	margin: auto;
}

.header__nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 20;
}

.header__nav-ul {
	display: flex;
}

.nav__logo {
	width: 150px;
}
